#root {
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
}

.navbar {
  background: #285391;
  width: 100%;
  height: 80px;
  padding: 2rem;
  display: flex;
  color: white;
}

.navbar .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 2rem;
}

.overview {
  display: grid;
  grid-template-columns: 1fr;
}

.framework {
  display: grid;
  grid-template-columns: 1fr;
}

.regions {
  /* background: green; */
  display: grid;
  grid-template-columns: 1fr;
}

.countries {
  /* background: purple; */
  display: grid;
  grid-template-columns: 1fr;
}

.time {
  /* background: blue; */
  display: grid;
  grid-template-columns: 1fr;
}

/* CARDS */

.card-info {
  background: transparent;
  border: none;
  box-shadow: none;
  align-items: flex-start;
}

.card-info .heading {
  font-weight: 500;
}

.card-info .description {
  line-height: 1.5;
}

.card-chart {
  background: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* STATISTICS */

.card-summary {
}

.top-countries {
  margin-top: 40px;
  margin-bottom: 40px;
}

.legal-rank {
}

.databox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  border-bottom: 1px solid #000;
}

.databox.border-top {
  padding-top: 20px;
  border-top: 1px solid #000;
}

.category.label {
  text-align: left;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.count.label {
  text-align: right;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.category {
  text-align: left;
  padding-bottom: 20px;
}

.category.highlight {
  font-weight: 700;
}

.count {
  text-align: right;
  padding-bottom: 20px;
}

.count.highlight {
  font-weight: 700;
}

.footnote {
  font-size: 0.6rem;
  font-style: italic;
}

/* CHARTS */

.chart {
  width: 100%;
  height: 100%;
}

.waffle {
  height: 300px;
}

.radar {
  height: 500px;
}

.heatmap-africa {
  height: 1200px;
}

.heatmap-americas {
  height: 900px;
}

.heatmap-europe {
  height: 1100px;
}

.heatmap-middle-east {
  height: 500px;
}

.heatmap-asia-pacific {
  height: 1000px;
}

.swarm-plot {
  height: 500px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  /* OVERVIEW SECTION */

  .overview {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .overview h1 {
    padding-right: 40px;
  }

  .overview .card-info .description {
    padding-right: 40px;
  }

  .overview .card-summary {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .overview .card-chart {
    grid-row: span 2;
  }

  .overview .databox {
    padding-top: 10px;
  }

  .overview .category {
    padding-bottom: 10px;
  }

  /* FRAMEWORK SECTION */
  .framework {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .framework h2 {
    font-size: 1.6rem;
    padding-right: 40px;
  }

  .framework .card-info .description {
    font-size: 0.9rem;
    padding-right: 40px;
  }

  .framework .category {
    padding-bottom: 10px;
  }

  /* GENERAL STYTLES */

  h2 {
    font-size: 1.6rem;
  }

  .category.label {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }

  .count.label {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }
}

@media (min-width: 1024px) {

  /* OVERVIEW SECTION */
  .overview h1 {
    font-size: 3.2rem;
  }

  /* FRAMEWORK SECTION */
  .framework .card-info .description {
    font-size: 1rem;
  }

  /* REGIONS SECTION */

  .regions {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .regions h1 {
    padding-right: 40px;
  }

  .regions .card-info .description {
    padding-right: 40px;
  }

  .regions .card-summary {
    padding-right: 40px; */
  }

  .regions .card-chart {
    grid-row: span 2;
  }

  /* GENERAL STYTLES */
  .footnote {
    font-size: 0.8rem;
    font-style: italic;
  }
}

@media (min-width: 1200px) {
    /* NAV SECTION */

  .navbar .title {
    font-size: 1rem;
  }

  /* OVERVIEW SECTION */

  /* .overview {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .overview h1 {
    font-size: 3.2rem;
  }

  .overview .card-info {
    grid-column: span 1;
  }

  .overview .card-chart {
    grid-column: span 2;
  }

  .overview .card-summary {
    grid-column: span 1;
    font-size: 1.2rem;
  }

  .overview .databox {
    padding-top: 20px;
    padding-bottom: 10px;
  } */

  /* FRAMEWORK SECTION */

  .framework h2 {
    font-size: 2rem;
  }

  /* GENERAL STYTLES */

  body {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .category.label {
    font-size: 1rem;
  }

  .count.label {
    font-size: 1rem;
  }