#root {
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
  padding: 2rem;
}

.wrapper {
  width: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 800px) { /* Medium breakpoint */
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .card.header {
    grid-column: span 2;
  }
}

@media (min-width: 1280px) { /* Large breakpoint */
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .card.header {
    grid-column: span 1;
  }
}

.card {
  background: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.header {
  background: transparent;
  border: none;
  box-shadow: none;
  align-items: flex-start;
}

.card.header .heading {
}

.card.header .description {
  font-size: 1rem;
  line-height: 1.5;
}

.chart {
  width: 100%;
  height: 100%;
}

.waffle {
  min-height: 300px;
}

.radar {
  min-height: 500px;
}

.heatmap-africa {
  min-height: 1200px;
}

.heatmap-americas {
  min-height: 900px;
}

.heatmap-europe {
  min-height: 1100px;
}

.heatmap-middle-east {
  min-height: 500px;
}

.heatmap-asia-pacific {
  min-height: 1000px;
}

.swarm-plot {
  min-height: 500px;
}
