#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.chart {
  width: 800px;
}

.waffle {
  height: 300px;
}

.radar {
  height: 500px;
}

.heatmap-africa {
  height: 1200px;
}

.heatmap-americas {
  height: 900px;
}

.heatmap-europe {
  height: 1100px;
}

.heatmap-middleeast {
  height: 500px;
}

.heatmap-asiapacific {
  height: 1000px;
}

.swarmplot {
  height: 500px;
}
